h1{
    text-align: center;

}
body{
    background-color: antiquewhite;
}
td{
    display: flex;
    justify-content: center;
    align-content: center;
}
.submit{
    padding: 5px;
    background-color: blue;
    color:white;


}
.submit:hover{
    background-color: rgb(85, 85, 94);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: blue;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    width: 30vw;
    background-color: aqua;
    align-self: center;
    margin-left: 30vw;
    padding: 5px;
    border-color: aquamarine;
    border-radius: 5px;
    border-width: 3px;
    margin-bottom: 5px;
    outline: #65e969 solid 5px;
    

}
.CONTAINER{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    display: inline;
    padding:5px;
    border-radius: 1vw;
    
}
.b{
    display: inline;
    padding:5px;
    border-radius: 1vw;
    margin-left: 35vw;

}
